body {
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

p {
  font-size: $font-size-sm;
}

table {
  width: 100%;
  th,
  td {
    vertical-align: top;
    padding: $font-size-sm;
  }
}

.sec {
  padding: 4rem 0;
}

.towcolumn {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    .main {
      width: 70%;
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-bottom: 3rem;
      }
    }
    .side {
      width: 28%;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }
}

.btn {
  position: relative;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5rem;
  border-width: 2px;
  padding: 0.5em 3em;
  &::after {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%) rotate(45deg);
    content: "";
    display: block;
    width: 0.3em;
    height: 0.3em;
    border-top: solid 1px $dark;
    border-right: solid 1px $dark;
  }
  &-warning {
    color: $white;
    &::after {
      border-color: $white;
    }
  }
}
