.merchant {
  margin-top: 4rem;

  &__inner {
    position: relative;
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }

    &-ttl {
      font-size: $font-size-base * 1.25;
      font-weight: bold;
      background-color: $light;
      line-height: 1;
      box-sizing: border-box;
      padding: 0.75rem 1.5rem;
      border-left: solid 5px $dark;
    }

    &-ttl4 {
      font-size: $font-size-sm;
      font-weight: bold;
      color: #6a6a6a;
      line-height: 1;
      margin: 1.5rem 0 1rem;
      box-sizing: border-box;
      padding: 0.5em;
      border-top: solid 1px #6a6a6a;
      border-bottom: solid 1px #6a6a6a;
    }

    &__info {
      box-sizing: border-box;
      padding: 1.5rem 0;

      &-support {
        width: 100%;
        border-collapse: collapse;

        th {
          color: #6a6a6a;
          font-size: $font-size-sm;
          white-space: nowrap;
          padding: 0.25rem;
          @include media-breakpoint-down(md) {
            display: block;
            width: 100%;
          }
        }

        td {
          font-size: $font-size-sm;
          padding: 0.25rem;
          @include media-breakpoint-down(md) {
            display: block;
            width: 100%;
          }
        }
      }

      &-term {
        margin: 1rem 0;

        span {
          display: inline-block;
          vertical-align: middle;
          line-height: 1;
          background-color: #dedcd9;
          font-size: $font-size-sm;
          font-weight: bold;
          box-sizing: border-box;
          padding: 5px 1rem;
          border-radius: 2px;
          margin-right: 5px;
          margin-bottom: 5px;
          @include media-breakpoint-down(md) {
            font-size: $font-size-sm;
            padding: 5px 0.5rem;
          }
        }
      }
    }

    &-more {
      position: relative;
      display: block;
      margin: 0 auto 1rem auto;
      width: 80%;
      box-sizing: border-box;
      padding: 10px 1rem;
      text-align: center;
      color: $dark;
      background: $secondary;
      transition: all 0.3s;

      &:hover {
        text-decoration: none;
        color: $white;
        background: $primary;
        opacity: 0.8;
      }

      i {
        margin-left: 1rem;
      }
    }

    &-contact {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .btn {
        width: 49%;
        @include media-breakpoint-down(md) {
          width: 100%;
          margin-top: 0.5rem;
        }
      }
    }

    &__info-flex {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;

      .thumbnail {
        width: 35%;
        @include media-breakpoint-down(md) {
          width: 100%;
          margin-bottom: 1rem;
        }

        img {
          @include media-breakpoint-down(md) {
            width: 100%;
          }
        }
      }

      .merchant__inner__info-support {
        width: 62%;
        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }
    }

    &.first {
      .merchant__inner-ttl {
        background-color: $info;
        border: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        @include media-breakpoint-down(md) {
          padding-bottom: 1rem;
        }

        .ribbon {
          position: relative;
          background-color: $primary;
          box-sizing: border-box;
          padding: 1rem;
          margin-right: 3rem;
          @include media-breakpoint-down(md) {
            margin: 0 0 1rem;
            padding: 0.5rem;
            text-align: center;
            width: 100%;
          }

          &::after {
            position: absolute;
            right: -30.5px;
            top: 0;
            content: "";
            display: block;
            border-top: 30.5px solid transparent;
            border-bottom: 30.5px solid transparent;
            border-left: 30.5px solid $primary;
            @include media-breakpoint-down(md) {
              content: none;
            }
          }
        }

        span {
          @include media-breakpoint-down(md) {
            text-align: center;
            width: 100%;
          }
        }
      }

      .merchant__inner__info {
        box-sizing: border-box;
        padding: 1rem;
        border: solid 5px $info;
        border-top: 0;
      }
    }

    &__point {
      table {
        border-collapse: collapse;

        td,
        th {
          box-sizing: border-box;
          padding: 0.5rem;
          @include media-breakpoint-down(md) {
            display: block;
            padding: 0.25rem 0;
          }
        }

        th {
          white-space: nowrap;

          span {
            display: block;
            font-size: $font-size-sm;
            font-weight: normal;
            color: #c1c1c1;
          }
        }

        td {
          font-size: $font-size-sm;
        }
      }
    }

    &__cta {
      margin-top: 1rem;
      @include media-breakpoint-down(md) {
        margin-top: 2rem;
      }

      & > a {
        position: relative;
        display: block;
        width: 100%;
        font-size: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;
        text-align: center;
        font-weight: bold;
        color: $white;
        border-bottom: solid 4px;

        &:hover {
          text-decoration: none;
          opacity: 0.8;
        }
      }

      &-tel {
        background: -moz-linear-gradient(top, #f18f01 50%, #ea8a00 50%);
        background: -webkit-linear-gradient(top, #f18f01 50%, #ea8a00 50%);
        background: linear-gradient(to bottom, #f18f01 50%, #ea8a00 50%);
        border-color: #ba6e00;
        margin-bottom: 0.5rem;

        img {
          position: absolute;
          top: -2rem;
          left: 2rem;
          @include media-breakpoint-down(md) {
            top: -2.5rem;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }

      &-contact {
        background: -moz-linear-gradient(top, #3b94d8 50%, #287dbe 50%);
        background: -webkit-linear-gradient(top, #3b94d8 50%, #287dbe 50%);
        background: linear-gradient(to bottom, #3b94d8 50%, #287dbe 50%);
        border-color: #16639d;
      }
    }

    &.second {
      .merchant__inner-ttl {
        background-color: $light;
        border: 0;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
      }

      .merchant__inner__info {
        box-sizing: border-box;
        padding: 1rem;
        border: solid 5px $light;
        border-top: 0;
      }
    }
  }
}
